body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(maria-teneva-mo62s5dp0zg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    border: 1px solid red;
}