{% extends 'base.html' %}

<!-- Copying the blocks in the index.html file  -->
{% block head %}
<!-- Creating head content -->
<h1 class="title">WELCOME</h1>
{% endblock %}

<!-- Creating body content -->
{% block body %}

<div class="content">
    <!-- Creating a table -->
    <h1 id="subTitle">TASX</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- adding a form -->
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content" />
            <input type="submit" value="Add task" />
        </form>
    </div>
</div>
{% endblock %}